:root{--bs-btn-primary:#940B92;
    --bs-btn-secondary:#DB1D76;
    --bs-btn-tertiary:#FF9361;
    --bs-btn-quaternary:#64CCC5;
    --bs-btn-text:#FFEAFF;
}
/********Tipografia***********/
h1{font-size:2rem;}
h2{font-size:1.5rem;}
h3{font-size:1.25rem;}
h4{font-size:1rem;}
p{font-size:1rem;}
.cta{font-size:1rem;}
.nav-item a{font-size:1.5rem;}
@media only screen and  (min-width:768px){
    h1{font-size:5rem;}
    h2{font-size:2rem;}
    h3{font-size:1.5rem;}
    h4{font-size:1.2rem;}
    p{font-size:1.2rem;}
    .cta{font-size:1.2rem;}
    .nav-item a{font-size:1.2rem;}
    }
@media only screen and (min-width:1200px){
    h1{font-size:clamp(6.5rem, 2.5vw, 7.5rem);}
    h2{font-size:2.5rem;}
    h3{font-size:2rem;}
    h4{font-size:1.25rem;}
    p{font-size:1.25rem;}
   .cta{font-size:1rem;}
    .nav-item a{font-size:1.25rem;}


   }
body{
    font-family:'Signika', sans-serif;
    color:var(--bs-btn-text);
}
h1, h2, h3, h4{
    font-family:'Titan One', sans-serif;
    color:var(--bs-btn-text);
    letter-spacing: 0.1rem;
}
h1{
    color: var(--bs-btn-secondary);
    text-shadow: 0 0 30px rgba(219, 29, 118, 0.50);
}
a{text-decoration:none;
    color: var(--bs-btn-text);
}
h4{
    color:var(--bs-btn-tertiary);
}
/************ body *************/
body{
    background-color: #24043B;

}
.cta{
    background: rgb(219,29,118);
    background: linear-gradient(93deg, rgba(219,29,118,1) 40%, rgba(97,12,159,1) 100%);
    box-shadow: 0 0 20px 0 rgba(255, 234, 255, 0.50);
    transition: all .4s ease-in-out;

}
.cta:hover{
 transform: scale(1.1);
}
a{
 color: var(--bs-btn-text);

}
a:hover{color: var(--bs-btn-secondary);
    transition: all .4s ease-in-out;

}
.cta:hover{
    color: var(--bs-btn-text);

}

/***********Nav************/


.scrolled {

    backdrop-filter:blur(10px);
}
.brand:hover{
    filter: drop-shadow(0 0.4rem 0.45rem rgba(255, 234,255, 0.5));
}
.nav-item{
    align-self: center;
    position: relative;
    letter-spacing: 1px;
    text-decoration: none;
}
.nav-item a{
    color:var(--bs-btn-text);
}

.navbar .navbar-nav > li > a:focus{
    color:var(--bs-btn-text);
    text-shadow: 0 0 30px rgba(255, 29, 118, 0.9);
}
.dropdown-menu > li{
    color:var(--bs-btn-text);

}

 .dropdown-menu{
    border:none;
    background: radial-gradient(20707.45% 141.42% at 0% 0%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
    box-shadow: 0 3px 15px 0 rgba(36, 4, 59, 0.50);
     backdrop-filter: blur(10px);
}

.dropdown-menu > li > a:hover {
    background-image: none;
    background-color: transparent;

}


.nav-item a:hover{
    color:var(--bs-btn-secondary);
    text-shadow: 0 0 30px rgba(255, 29, 118, 0.9);
}
li.active a{
    color:var(--bs-btn-secondary);
    text-shadow: 0 0 30px rgba(255, 29, 118, 0.9);
}
li.active a:hover{
    color:var(--bs-btn-text);
}



@media only screen and  (max-width:992px){
    .navbar-collapse {
        background: radial-gradient(20707.45% 141.42% at 0% 0%, rgba(255, 255, 255, 0.42) 0%, rgba(255, 255, 255, 0) 100%);
        box-shadow: 0 3px 15px 0 rgba(36, 4, 59, 0.50);
        backdrop-filter:blur(10px);
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        height: 100vh;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: justify;

    }
}
.navbar-toggler,
.navbar-brand {
    z-index: 1;
    padding:1rem;
    box-shadow: none;
}
.navbar-toggler:focus {
    box-shadow: none;
}

.navbar-collapse.show, .navbar-collapse.collapsing {
    text-align: justify;
    font-size: 2rem;
    transition: height 0s ease;
}
.navbar-collapse.show {
    height: 100vh;
    transition: height .35s ease;
}

/***********FOOTER************/


@media (max-width: 768px) {
    .hide-on-mobile {
        display: none;
    }
}


/*************** HOME **********/
/******** Header home *****/
.header{
    margin-top:23%;

}
@media only screen and (min-width:992px){
    .header{
        margin-top:10%;
    }
}

/*Waves*/
.row-waves{
    margin-top:-5vh ;
}

.waves {
    position: relative;
    width: 100%;
    height: 20vh;
    z-index: 1;
    /*Fix for safari gap*/
    min-height: 100px;
    max-height: 400px;
}

.parallax>use {
    animation: move-forever 25s cubic-bezier(.55, .5, .45, .5) infinite;
}
.parallax>use:nth-child(1) {
    animation-delay: -2s;
    animation-duration: 7s;
}
.parallax>use:nth-child(2) {
    animation-delay: -3s;
    animation-duration: 10s;
}
.parallax>use:nth-child(3) {
    animation-delay: -4s;
    animation-duration: 13s;
}
.parallax>use:nth-child(4) {
    animation-delay: -5s;
    animation-duration: 20s;
}

@keyframes move-forever {
    0% {
        transform: translate3d(-90px, 0, 0);
    }
    100% {
        transform: translate3d(85px, 0, 0);
    }
}
/*Shrinking for mobile*/
@media only screen and (max-width: 768px) {
    .waves {
        height: 60px;
        min-height: 40px;
    }
    .content {
        height: 30vh;
    }
}
.down-transparent{
    background-color: rgba(219,29,118,0.4);
}
.transparent{
    padding-left:0;
    padding-right:0;
    background-color: rgba(255, 255, 255, 0.20);
}

.unique-color-background {
    /* background-color: #DB689C !important; /*SU MAC OK no windows*/
    /*background-color: #DB689D !important; /*SU MAC OK no windows*/
    /*background-color: #d86a9b !important; /*SU MAC OK no windows*/
    /*background-color: #d95f9a !important; si windows */
       /* COLORE SCURO, LO TENIAMO PER ULTERIORI PROVE */
    /* background: linear-gradient(#cc2c78 40%, rgb(86, 13, 72) 100%); */
    /*background-color: #d23380;*/
    background-color: #d23481;
}

/************ Main home **********/
.quartiere_1{
    border-radius: 30px;
    border: 2px solid rgba(100, 204, 197, 0.40);
    background: radial-gradient(379.91% 134.12% at 0% 5.07%, rgba(100, 204, 197, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(10px);
}
.quartiere_2{
    border-radius: 30px;
    border: 2px solid rgba(255, 147, 97, 0.40);
    background: radial-gradient(379.91% 134.12% at 0% 5.07%, rgba(255, 147, 97, 0.40) 0%, rgba(255, 147, 97, 0.00) 100%);
    backdrop-filter: blur(10px);
}
.quartiere_3{
    border-radius: 30px;
    border: 2px solid rgba(148, 11, 146, 0.40);
    background: radial-gradient(379.91% 134.12% at 0% 5.07%, rgba(148, 11, 146, 0.40) 0%, rgba(148, 11, 146, 0.00) 100%);
    backdrop-filter: blur(10px);
}
.quartiere_4{
    border-radius: 30px;
    border: 2px solid rgba(219, 29, 118, 0.40);
    background: radial-gradient(379.91% 134.12% at 0% 5.07%, rgba(219, 29, 118, 0.40) 0%, rgba(219, 29, 118, 0.00) 100%);
    backdrop-filter: blur(10px);
}


.quart1 {

    margin-top: 20dvh;
}
.arrow{
    transition: all .4s ease-in-out;
}

.arrow:hover{
 transform: scale(1.1);
}
/********** LINEA DEL TEMPO **********/




/********** card home***********/
.card{
    border-radius: 30px;
    border: 2px solid #FF9361;
    background: radial-gradient(1376.96% 141.42% at 0% 0%, rgba(255, 147, 97, 0.40) 0%, rgba(255, 255, 255, 0.00) 100%);
    backdrop-filter: blur(10px);
}
/********** quiz home***********/
#quiz-container {

    background: rgba(255, 255, 255, 0.2);
    border: 1px solid rgba(255, 255, 255, 0.18);
    border-radius: 16px;
    backdrop-filter: blur(15px);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
    overflow: hidden;
    transition: background-color 0.3s;
}

#question-text{
    color: #ffffff;
}

.btn-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 0 20px 20px 20px;
}

.btn {
    padding: 15px;
    font-size: 15px;
    font-family: 'ABeeZee', sans-serif;
    background-color: rgba(228, 235, 240, 0.3);
    /* background-color: rgba(112, 12, 37, 0.4); */
    color: #ffffff;
    border: 1px solid rgba(255, 255, 255, 0.3);
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s, transform 0.3s, box-shadow 0.3s; /* Aggiunto l'effetto box-shadow */
}

.btn:hover {
    background-color: rgba(228, 235, 240, 0.6);
    transform: scale(1.015);
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3); /* l'ombra al passaggio del mouse */
}

#result-button {
    display: none;
    margin-top: 20px;
}




/****************GEMTOUR***********/


/****************INFOGEM***********/



/****************GEM-EVENTS***********/




/****************LIVEGEM***********/

/*posizione bimbo*/
.custom-container {
    margin-top: -240px;
}

@media (max-width: 768px) {
    .custom-container {
        margin-top: -265px;
    }
}


/****************ABOUTGEM***********/















